*{


}
h1,h2{
  margin: 0;
  text-align: center;
  text-transform: capitalize;

}
p{
  margin: auto;
  padding: 10px;
  text-transform: capitalize;
  border: 1px solid blue;
  text-align: center;
  border-width: thick;
  border-radius: 50px;
  background-color: #784;
  width: 70%;
  color: white;

}
.textarea{
  margin: auto;
  width: 80%;
  background-color: white;

}
.textarea textarea{
  width: 100%;
  height: auto;
  background-color: inherit;
}
footer{
  text-align: center;
  margin: 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  color: #982;
  width: 100%;
}
